<div class="path">
  <%= link_to 'Recipes', recipes_path, class:"rec" %>
</div>

<div>
  <h2 class="names"><%= @recipe.name %></h2>
  <div class="holder">
    <p class="prep">Preparation time: <%= @recipe.preparation_time %>hours</p>
    <p class="cook">Cooking time: <%= @recipe.cooking_time %>hours</p>
    <p class="steps">Cooking steps: <%= @recipe.description %></p>
  </div>
  <div class="btns">
 <%= button_to 'Generate shopping list', general_shopping_lists_path, :method => "get" %>    <button type="button">Add ingredient</button>
  </div>
</div>


